*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h2{
     font-weight: bolder;display:flex; 
                    color: black;
                    font-family: 'Tangerine', serif;
                    font-size: 33px;
                    text-shadow: 4px 4px 4px #aaa;
}


.contain{
    margin:auto; 
    background: url('..images/img3.avif') no-repeat center center;
    }

.btn{
    margin: 4px auto;
    display: block;
    padding: 5px 12px;
    background: #302d2d;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    outline: none;
}
  